<img src="<%= movie.Poster %>" width=300>
<br>
<h2><%= movie.Title %> (<%= movie.Year %>)</h2>
<br>
Notable Awards: <%= movie.Awards %>
<br>
<%= movie.Ratings[0].Value %> (<%= movie.Ratings[0].Source %>)
<br>
Title: <%= movie.Title %>
<br>
Released: <%= movie.Released %> 
<br>
Genres: <%= movie.Genre %>
<br>
Directors: <%= movie.Director %> 
<br>
Writers: <%= movie.Writer %>
<br>
Actors: <%= movie.Actors %>
<br>
Plot:
<br>
<%= movie.Plot %>